@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: 
      /* linear-gradient(to bottom, rgb(225, 122, 225), rgb(122, 225, 225)),  */
      url(./content/hearts\ bg.gif);
      /* url(https://i.pinimg.com/564x/c0/79/fc/c079fc1edc20e2b78a02387be3c01177.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }


  
.container {
    text-align: center;

}

#noButton {
    position: relative;
    transition: 0.5s ease-in-out;
    justify-self: end;
}



.header_text {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: rgb(154, 86, 163);
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    

   
}

.btn {
    background-color: #548099;
    color: #fddbd1;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
}



@media (max-width: 768px){

    body{
        background-size: auto;
    }

    .header_text{
        font-size: 100px;
    }

    .btn {
        padding: 20px 40px;
        font-size: 40px;
    }

}
