body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 122, 225); /* initial background color */
    position: relative;
    overflow: hidden;
  }
  
 
  
  body::after {
    content: "";
    position: absolute;
    top: 50px; /* adjust the top and left properties to position the second GIF */
    left: 50px;
    width: 50px;
    height: 50px;
    background-image: url(https://giphy.com/stickers/pixel-wow-vItlixZ8FZcqs);
    background-size: cover;
    animation: rain 5s linear infinite;
  }
  
  /* add more ::after pseudo-elements to create more GIFs */

  
  /* and so on... */
  
  @keyframes rain {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
